@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "raleway", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
}

#conteiner {
    display: flex;
    gap: 10px;
    padding: 10px;
}

header {
    background: #000000;
    padding: 30px;
}

#logo {
    display: flex;
    position: absolute;
    font-size: 25px;
    color: #f5f5f5;
    top: 5px;
}

nav ul {
    text-align: center;
}

nav ul li {
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 400;
    margin-left: 35px;
    display: inline;
    cursor: pointer;
}

nav ul li a {
    color: #f5f5f5;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline 3px #85037a;
}

#conteudo {
    background: #f7f7f7;
}

#feed {
    display: flex;
    padding: 411.5px;
}

#feed article h1 {
    align-items: center;
}

footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    display: flex;
}

.footer-content {
    max-width: 100%;
    margin: 0 auto;
}



/* responsabilidade */
@media(min-width: 700px) {
    #conteiner {
        flex-direction: column;
    }

    #conteudo {
        display: flex;
        flex-grow: 1;
    }

    #feed {
        flex: 2;
    }

}